body{
    background-color:lightblue;
}
h1{
    border: 1px solid black;
}
h3{
    color:purple;
}
input{
    border: 2px solid rgb(255,0,0);
}
div p{
    background-color: #ffffe0;
}
#t1{
    border: 5px solid gray;
    width:500px;
    height:150px;
}
li a{
    color:red;
}
#l1{
    text-decoration:overline;
    color:purple;
}
.exit{
    background-color:blue;
    border:4px dashed yellow;
}